/*Dropdown Categorias*/
.categorias {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
}

.logo-top{
  width: 150px;
}

.categorias-icon {
  display: flex;
  flex-wrap: wrap;
  color: #93deff;
}
.categorias p {
  color: #f7f7f7;
  margin-left: 7px;
  margin-top: 5px;
  font-size: 30px;
}
.categorias ul li {
  display: flex;
  list-style: none;
  margin-left: 20px;
  text-align: center;
}
.lista1{
  margin-top:12px;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 15px;
  margin: 15px;
}
.lista1 a {
  text-decoration: none;
  color: #f7f7f7;
  background-color: #65d0fd;
  border-radius: 20px;
  margin: 10px;
  padding: 5px 42px;
  width: 235px;
}
.lista1 a:hover {
  color: #93deff;
}
/*Dropdown Categorias Ações*/
#dropdown {
  display: none;
}
#dropdown:checked ~ label i:nth-child(2) {
  display: block;
}
#dropdown:checked ~ label i:first-child {
  display: none;
}
#dropdown:not(checked) ~ label i:nth-child(2) {
  display: none;
}
#dropdown:not(checked) ~ label i:first {
  display: block;
}
#dropdown:checked ~ ul {
  display: flex;
}
#dropdown:not(checked) ~ ul {
  display: none;
}
/*Fim Dropdown Categorias Ações*/

/*Fim Dropdown Categorias*/

/*Artigos*/
.descrição {
  font-size: 1.4rem;
  font-weight: bold;
}
div.artigo p {
  max-height: 200px;
  width: 600px;
}
.artigo {
  display: grid;
  grid-template-columns: repeat(2, 7fr);
  max-width: 1030px;
  margin: 0 auto;
  margin-bottom: 24px;
  color: #f7f7f7;
}
img.img_artigo {
  max-width: 650px;
  max-height: 200px;
  border-radius: 10px;
  margin-left: -30px;
}
h2.artigo {
  margin-left: 20%;
}
/*Fim Artigos*/

/*Media Queries*/
@media screen and (max-width: 785px) {
  img.img_artigo {
    width: 300px;
    max-height: 200px;
    border-radius: 10px;
    margin-left: 0px;
  }
  .artigo {
    display: grid;
    grid-template-columns: repeat(1, 7fr);
    max-width: 100%;
    text-align: center;
  }
  h2.artigo {
    margin-left: 0px;
  }
  div.artigo p {
    width: 95%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 13%;
  }
}
@media screen and (max-width: 460px) {
  div.artigo p {
    padding-bottom: 100%;
  }
}


@media screen and (min-width: 786px) and (max-width: 985px) {
  img.img_artigo {
    max-width: 95%;
    margin-left: 6%;
    margin-right: 10px;
  }
  div.artigo p {
    max-height: 200px;
    width: 100%;
  }
  h2.artigo {
    margin-left: 9%;
  }
  div.artigo {
    margin-top: 2%;
    margin-bottom: 12%;
  }
}
@media screen and (min-width: 986px) and (max-width: 1150px){
  h2.artigo {
    margin-left: 3%;
  }
  img.img_artigo {
    margin-left: 2%;
  }
}
@media screen and (min-width: 1151px) and (max-width: 1220px){
  h2.artigo {
    margin-left: 4%;
  }
}
@media screen and (min-width: 1221px) and (max-width: 1360px){
  h2.artigo {
    margin-left: 8%;
  }
}
@media screen and (min-width: 1361px) and (max-width: 1460px){
  h2.artigo {
    margin-left: 10%;
  }
}
@media screen and (min-width: 1461px) and (max-width: 1660px){
    h2.artigo {
      margin-left: 16%;
    }
}
/*Fim Media Queries*/