body {
  background-color: #606470;
}

.logo-top {
  width: 150px;
}

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.historico_title {
  text-align: center;
  color: #f7f7f7;
}

table {
  background-color: #93deff;
  border-radius: 20px;
  width: 100%;
}

.img_lixo {
  width: 30px;
  cursor: pointer;
}

th {
  color: #323643;
  text-align: center;
  padding: 10px;
  border-bottom: 2px solid #323643;
  border-right: 2px solid #323643;
}

td {
  color: #323643;
  text-align: center;
  padding-bottom: 7px;
  padding-top: 7px;
  border-top: 2px solid #323643;
  border-right: 2px solid #323643;
}

.saida {
  color: red;
}

.entrada {
  color: green;
}

.row_saldo {
  background-color: #93deff;
  border-radius: 20px;
  text-align: center;
  padding: 7px;
  margin: 20px 0;
}

.entrada-saida-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.register-container {
  background-color: #93deff;
  border-radius: 20px;
  height: 50px;
  width: 260px !important;
  padding: 10px 30px;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-btn {
  height: 100%;
  background-color: #93deff;
  border: none;
  outline: none;
  border-radius: 20px;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-body input {
  width: 100%;
  margin: 10px 0;
  border-radius: 10px;
}

.modal-content {
  background-color: #323643;
  color: #f7f7f7;
  border-radius: 1.5rem;
}

.close {
  color: #f7f7f7;
}

.btn-primary {
  color: #fff;
  background-color: #65d0fd;
  border-color: #65d0fd;
  border-radius: 20px;
}

.btn-primary:hover {
  color: #f7f7f7;
  background-color: #93deff;
  border-color: #93deff;
}

.btn-secondary {
  color: #f7f7f7;
  background-color: #606470;
  border-color: #606470;
  border-radius: 20px;
}

img.img_artigo {
  max-width: 650px;
  max-height: 200px;
  border-radius: 10px;
  margin-left: -30px;
  display: block;
  margin: 0 auto;
}

h1 {
  padding: 15px;
  color: white;
}

.title-recomendados {
  margin-top: 10px;
  text-align: center;
  color: white;
  font-size: 1.7rem;
}

@media screen and (max-width: 780px) {
  .entrada-saida-row {
    flex-direction: column;
  }

  .register-container {
    margin: 16px 0 !important;
  }
}

@media screen and (max-width: 530px) {
  #tableTipoHead,
  .tableTipoBody {
    display: none;
  }
}
